<!DOCTYPE html>

<html>
    <head>
        <title>Abm Employees - Admin</title>
        <link href="../styles/style.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
    <body>
        <div class="mini-menu">
            <a class="logo"><img src="../styles/images/logo-papitomirey.jpg"></a>
            <ul class="main-logo">
                <li><i class="far fa-envelope"></i> help@papitomirey.co</li>
            </ul>
            <ul class="logo-mobile">
                <li><i class="fas fa-bars"></i></li>
            </ul>
            <ul class="admin">
                <li><i class="fas fa-crown"></i>Admin</li>
                <li><img src="../styles/images/admin.jpg"></li>
            </ul>
        </div>
        {{{body}}}
    </body>
</html>